<%= paginate @songs %>
<div class="row">
<% @songs.each do |song| %>
<div class="col-sm-4 pb-4">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
   <%if song.image.present? %>
     <%= image_tag song.image , width: "100%" , height: "width",alt:"Logo" %>
   <%end%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= link_to song.title, song %> </h5>
        <p class="card-text"><%= song.genre %></p>
        <p class="card-text"><small class="text-muted"><%= song.price %></small></p>



  <%= form_with url: cart_index_path, method: :post do   %>
    <%= hidden_field_tag(:id, song.id) %>
      <%= button_tag 'Add to Cart' %>
    <% end %>

      </div>
    </div>
  </div>
</div>


</div>

<% end %>
</div>

<%= paginate @songs %>